.body{
    /* margin-top: -25px;
    background-image: url(../src/assets/bgHome/img.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(228 228 231);
    margin-top: -25px;
}